* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media screen and (max-width: 768px) {
    font-size: 42.5%;
  }
  box-sizing: border-box;
}
body {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
p {
  margin: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
}
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
